<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Katalog Rumah Makan Sehat">
  <meta name="theme-color" content="#000000">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="./icons/apple-touch-icon.png">
  <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Dapoerku | Cari Rumah Makan Sehat</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Menuju ke Konten</a>

  <header class="header" data-header>
    <div class="container">
      <h1>
        <a href="#" class="logo">Dapoerku<span class="span"> .</span></a>
      </h1>

      <div class="hamburger">
        <button class="hamburger-btn" aria-label="Button Menu" data-menu-toggle-btn>☰</button>
      </div>

      <nav class="navbar" data-navbar>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#/daftar" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li class="nav-item">
            <a href="#/favorite" class="navbar-link" data-nav-link>Favorite</a>
          </li>

          <li class="nav-item">
            <a href="https://www.instagram.com/raicuul/" target="_blank" rel="noopener" class="navbar-link" data-nav-link>About Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="content">
  </main>

  <footer>
    <div class="footer">
      <p class="copyright">
        © 2023 Copyright: <a class="link-footer" href="#">Dapoerku.</a>
      </p>
    </div>
  </footer>
</body>

</html>